@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

li,
p {
    transition: 0.5s;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    color: black;
}

table {
    border-collapse: collapse;
    border: none;
}

textarea {
    resize: none;
}

input {
    border: 0px;
    background-color: transparent;
}

img {
    display: block;
    margin: auto 0;
}

button {
    border: 0px solid;
    background: transparent;
    transition: 0.3s;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.display-flex-flow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pc {
    display: none;
}

article>:first-child {
    padding: 80px 5%;
}

/* header */

header {
    padding: 20px 5%;
    background-color: #021e3a;
    position: relative;
}

header>div {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header>div>:first-child img {
    width: 70px;
    height: auto;
}

header img {
    cursor: pointer;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    padding: 20px 5%;
    z-index: 20;
}

.nav-open {
    right: 0;
}

.nav-close {
    right: -100%;
}

nav>:first-child {
    display: flex;
    justify-content: right;
    padding: 22px 0;
    filter: invert(1);
}

nav ul {
    margin-top: 40px;
}

nav ul li {
    margin: 25px 0;
}

nav ul li a {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #f90d0d;
}

header>div>:last-child {
    margin: auto 0;
}

/* footer */

footer {
    background-color: #021e3a;
    color: white;
}

footer>div {
    padding: 50px 5% 70px;
    max-width: 1200px;
    margin: 0 auto;
}

footer>div>:first-child {
    width: 30%;
    margin: auto 0;
}

footer>div>:first-child img {
    width: 100%;
    height: auto;
}

footer>div>ul {
    margin-top: 50px;
    width: 100%;
    order: 3;
}

footer>div>ul li {
    margin: 8px 0;
}

footer>div>ul li:last-of-type {
    margin-top: 30px;
}

footer>div>ul li span {
    font-weight: bold;
}

footer>div>:nth-child(3) {
    width: 65%;
}

footer>div> :nth-child(3) h3 {
    margin-bottom: 10px;
}

footer>div> :nth-child(3) h3 span {
    color: #f90d0d;
}

footer>div> :nth-child(3)>div {
    justify-content: left;
    gap: 10px;
}

footer>div> :nth-child(3)>div a {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    padding: 10px;
}

footer>div>:nth-child(3)>div a div {
    display: flex;
    justify-content: center;
}

footer>div> :nth-child(3)>div a div img {
    width: 30px;
    height: auto;
}

footer>div>:last-child {
    width: 100%;
    margin-top: 30px;
}

footer>div>:last-child button {
    width: 100%;
    padding: 10px 0 15px;
    border-radius: 8px;
    background-color: #f90d0d;
}

footer>div>:last-child button a {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

footer>div>:last-child button:hover {
    background-color: #6574ff;
}

@media screen and (min-width: 768px) {

    li,
    p {
        font-size: 1rem;
    }

    article>:first-child {
        padding: 80px 8%;
    }

    /* header */

    header {
        padding: 20px 8%;
    }

    header>div>:first-child img {
        width: 80px;
    }

    nav {
        padding: 20px 8%;
    }

    nav ul {
        margin-top: 50px;
    }

    nav ul li {
        margin: 30px 0;
    }

    nav ul li a {
        font-size: 1.5rem;
    }

    /* footer */
    footer>div>:first-child img {
        width: 80%;
    }

    footer>div>ul li {
        margin: 15px 0;
    }

    footer>div>ul li:last-of-type {
        margin-top: 50px;
    }

    footer>div>:nth-child(3) h3 {
        margin-bottom: 20px;
        font-size: 2rem;
    }

    footer>div>:nth-child(3)>div {
        gap: 15px;
    }

    footer>div>:nth-child(3)>div a {
        padding: 15px;
    }

    footer>div>:nth-child(3) div a div img {
        width: 45px;
        height: auto;
    }

    footer>div>:last-child button {
        padding: 20px;
        border-radius: 10px;
    }

    footer>div>:last-child button a {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

}

@media screen and (min-width: 1366px) {

    input,
    textarea {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.2rem;
    }

    .mo {
        display: none;
    }

    .pc {
        display: block;
    }

    article>:first-child {
        padding: 150px 0;
        width: 1200px;
        margin: 0 auto;
    }

    /* header */

    header>div>:first-child img {
        width: 100px;
    }

    header>div>ul {
        display: flex !important;
        justify-content: right;
        gap: 50px;
        margin: auto 0;
    }

    header>div>ul li a {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
    }

    header>div>ul li a:hover,
    header>div>ul li a:focus {
        color: #f90d0d
    }

    /* footer */

    footer>div {
        padding: 50px 0 80px;
        width: 1200px;
        margin: 0 auto;
    }

    footer>div>:first-child {
        width: 200px;
    }

    footer>div>ul {
        margin-top: 50px;
    }

    footer>div>ul li {
        margin: 8px 0;
    }

    footer>div>ul li:last-of-type {
        margin-top: 20px;
    }

    footer>div> :nth-child(3) {
        display: flex;
        justify-content: right;
        gap: 30px;
        width: 700px;
    }

    footer>div> :nth-child(3) h3 {
        margin-bottom: 0px;
    }

    footer>div> :nth-child(3)>div {
        gap: 15px;
        margin: 0 0 auto 0;
    }

    footer>div> :nth-child(3)>div a {
        padding: 10px;
    }

    footer>div> :nth-child(3)>div a div img {
        width: 25px;
    }

    footer>div>:last-child {
        margin-top: -80px;
        text-align: right;
    }

    footer>div>:last-child button {
        width: 580px;
    }

}