main {
    position: relative;
}

main>:first-child {
    position: relative;
}

main>:first-child img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

main>:first-child video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.slick-slide {
    box-sizing: border-box;
}

.slider div {
    position: relative;
    width: 100%;
    height: 600px;
}

.slider div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main>div>:last-child {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 95%;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

main>div>:last-child p {
    color: white;
}

main>div>:last-child h2 {
    color: #da0505;
    font-size: 1.3rem;
    margin-top: 10px;
}

/* home */

.home>:first-child>:first-child {
    width: 100%;
}

.home>:first-child>div>:first-child {
    margin-bottom: 30px;
}

.home>:first-child>div>:first-child img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.home>:first-child>div>:last-child>section {
    width: 30%;
    padding: 10px;
    color: white;
    background-color: #da0505;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.home>:first-child>div>:last-child>section:hover {
    border-radius: 15px;
}

.home>:first-child>div>:last-child>section h3 {
    text-align: center;
}

.home>:first-child>:last-child {
    margin-top: 40px;
}

.home>:last-child {
    padding: 50px 8%;
    background-image: url('/images/introduce_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home>:last-child .contents h4 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    display: inline-block;
}

.home>:last-child .contents h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
}

.home>:last-child .contents ul li {
    color: white;
}

.home2>div>div>:last-child {
    margin-top: 40px;
}

.home2>div>div>div img {
    width: 100%;
    height: auto;
}

.home2>div>:nth-child(2) {
    margin: 80px 0;
}

.home2>div>:last-child {
    text-align: center;
}

.home2>div>:last-child h4 {
    color: #da0505
}

/* .loading {
    text-align: center;
    color: white;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.loading p {
    font-style: italic;
}

.home3 {
    position: relative;
}

.home3>:first-child {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    width: 90%;
}

.home3>:first-child>div {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

.home3>:first-child>div img {
    width: 150px;
    height: auto;
}

.home3>:first-child h1 {
    color: white;
}

.home3>:first-child h2 {
    background-color: white;
    color: #da0505;
    display: inline;
    font-size: 1.3rem;
}

.home3>:last-child img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
    */

/* about */

/* .about>:last-child {
    width: 100%;
    height: 300px;
    background-image: url('/images/about_bg.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
/*

.about2>div>h1 {
    color: #da0505;
}

.about2>div>h3:first-of-type {
    margin: 20px 0 30px;
    color: black;
}

.about2>div>h3:last-of-type {
    color: #da0505;
    text-align: center;
}

.about2>div>p {
    font-weight: bold;
    text-align: center;
    margin: 30px 0 50px;
    font-style: italic;
}
*/

/* gallery */

.gallery {
    margin-top: 70px;
}

.gallery>div>div,
.gallery>div>div>div,
.gallery>div>div>div>div,
.gallery>div>div>div>div>div,
.gallery>div>div>div>div>div>div {
    gap: 10px;
    overflow: hidden;
}

.gallery>div>div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}

.gallery>div>div img:hover {
    transform: scale(1.2);
}

.gallery .intro> :first-child>:first-child div img {
    height: 100%;
    min-height: 150px;
}

.gallery .intro> :first-child>:last-child {
    margin-top: 10px;
}

.gallery .intro> :last-child>:first-child {
    width: 45%;
}

.gallery .intro> :last-child>:first-child img {
    height: 100%;
}

.gallery .intro> :last-child>:last-child {
    width: 55%;
}

.gallery .intro> :last-child>:last-child div:first-of-type {
    margin-bottom: 10px;
}

.gallery .about-g>:nth-child(2)>:first-child div img {
    height: 100%;
    min-height: 150px;
}

.gallery .about-g>:nth-child(2)>:first-child div:first-of-type img {
    transform: scale(1.4) translateY(10%);
}

.gallery .about-g>:nth-child(2)>:first-child div:first-of-type img:hover {
    transform: scale(1.7) translateY(10%);
}

.gallery .about-g>:nth-child(2)>:first-child div:last-of-type img {
    transform: scale(1.4);
}

.gallery .about-g>:nth-child(2)>:first-child div:last-of-type img:hover {
    transform: scale(1.6);
}

.gallery .about-g>:nth-child(2)>:last-child {
    margin-top: 10px;
}

.gallery .about-g> :last-child>:first-child {
    width: 45%;
}

.gallery .about-g> :last-child>:first-child img {
    height: 100%;
    min-height: 120px;
}

.gallery .about-g> :last-child>:last-child {
    width: 55%;
}

.gallery .about-g> :last-child>:last-child img {
    height: 100%;
    object-fit: cover;
}

.gallery .about-g> :last-child>:first-child div:first-of-type {
    margin-bottom: 10px;
}

.scale-galley {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px 8%;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.scale-galley>:first-child {
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
    cursor: pointer;
    opacity: 0.3;
}

.scale-galley>:first-child img {
    width: 20px;
    height: auto;
}

.scale-galley>:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.scale-galley>:last-child img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {

    main>:first-child img {
        height: 800px;
    }

    main>:first-child video {
        height: 800px;
    }

    .slider div {
        height: 800px;
    }

    main>div>:last-child {
        bottom: 15%;
        width: 84%;
    }

    main>div>:last-child p {
        font-size: 1.2rem;
    }

    main>div>:last-child h2 {
        font-size: 2rem;
    }

    /* home */

    .home>:first-child>div>:first-child img {
        height: 400px;
    }

    .home>:first-child>div>:last-child>section {
        padding: 25px;
        border-radius: 15px;
    }

    .home>:first-child>div>:last-child>section:hover {
        border-radius: 25px;
    }

    .home>:first-child>:last-child {
        margin-top: 60px;
    }

    .home>:last-child .contents h3 {
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 8px;
    }

    .home2>div>div>:last-child {
        margin-top: 60px;
    }

    .home>:last-child {
        padding: 80px 8%;
    }

    .home2>div>:last-child h1 {
        font-size: 3.5rem;
    }

    /*
     .home3>:first-child h1 {
        font-size: 3rem;
    }

    .home3>:first-child h2 {
        font-size: 2rem;
    }
        */

    /* about */



    /* gallery */

    .gallery>div>div,
    .gallery>div>div>div,
    .gallery>div>div>div>div,
    .gallery>div>div>div>div>div,
    .gallery>div>div>div>div>div>div {
        gap: 20px;
    }

    .gallery .intro> :first-child>:last-child {
        margin-top: 20px;
    }

    .gallery .intro>:nth-child(2) {
        width: 100%;
    }

    .gallery .intro> :last-child>:last-child div:first-of-type {
        margin-bottom: 20px;
    }

    .gallery .about-g>:nth-child(2)>:first-child div img {
        height: 100%;
        min-height: 300px;
    }

    .gallery .about-g>:nth-child(2)>:first-child div:first-of-type img {
        transform: scale(1.3) translateY(12%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:first-of-type img:hover {
        transform: scale(1.6) translateY(12%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:last-of-type img {
        transform: scale(1.3) translateY(10%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:last-of-type img:hover {
        transform: scale(1.6) translateY(10%);
    }

    .gallery .about-g>:nth-child(2)>:last-child {
        margin-top: 20px;
    }

    .gallery .about-g> :last-child>:first-child img {
        height: 100%;
        min-height: 200px;
    }

    .gallery .about-g> :last-child>:first-child div:first-of-type {
        margin-bottom: 20px;
    }

    .scale-galley>:first-child img {
        width: 30px;
    }

}

@media screen and (min-width: 1366px) {

    main {
        margin-top: 100px;
    }

    main>:first-child img {
        height: 700px;
    }

    main>:first-child video {
        height: 700px;
    }

    .slider div {
        height: 700px;
    }

    main>div>:last-child {
        padding: 20px 30px;
        left: 68%;
        bottom: 22%;
        width: 650px;
    }

    main>div>:last-child h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    main>div>:last-child h2 {
        font-size: 2.5rem;
    }

    /* home */

    .home>:first-child>:first-child {
        width: 600px;
    }

    .home>:first-child>div>:first-child img {
        height: 400px;
    }

    .home>:first-child>div>:last-child>section {
        padding: 40px 20px;
    }

    .home>:first-child>:last-child {
        margin-top: 0px;
    }

    .home>:first-child>:last-child {
        width: 500px;
    }

    .home>:last-child {
        padding: 100px 0;
        background-image: url('/images/introduce_bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .home>:last-child>div {
        width: 1200px;
        margin: 0 auto;
    }

    .home>:last-child .contents h3 {
        padding: 10px;
        display: inline-block;
    }

    .home2>div>div>:last-child {
        margin-top: 0px;
    }

    .home2>div>div>:first-child {
        width: 550px;
        margin: auto 0;
    }

    .home2>div>div>:first-child img {
        height: 400px;
        object-fit: cover;
    }

    .home2>div>div>:last-child {
        width: 550px;
    }

    .home2>div>:nth-child(2) {
        margin: 100px 0;
    }

    .home2>div>:nth-child(2)>:first-child {
        order: 2;
    }

    .home2>div>:last-child {
        margin-top: 150px;
    }

    .home2>div>:last-child>:first-child {
        text-align: center;
        margin: auto;
    }

    .about>div>:first-child {
        margin-bottom: 100px;
    }

    .about>div>:last-child {
        margin-top: 0px;
    }

    /*
     .home3>:first-child {
        top: 65%;
        left: 40%;
     }

     .home3>:first-child h1 {
        font-size: 4rem;
     }

    .home3>:first-child h2 {
        font-size: 2.5rem;
    }
        */

    /* about */

    /* .about>:last-child {
        height: 700px;
    } */

    /*
    .about2>div>h1 {
        font-size: 2.5rem;
    }

    .about2>div>h3:first-of-type {
        font-size: 1.8rem;
        margin: 20px 0 50px;
    }

    .about2>div>h3:last-of-type {
        margin: 0px;
        font-size: 1.5rem;
    }
    */

    /* gallery */

    .gallery .intro> :first-child {
        width: 400px;
    }

    .gallery .intro> :first-child>:first-child div {
        height: 150px;
    }

    .gallery .intro> :first-child>:last-child img {
        height: 230px;
    }

    .gallery .intro> :nth-child(2) {
        width: 360px;
    }

    .gallery .intro> :nth-child(2)>div {
        height: 190px;
    }

    .gallery .intro> :nth-child(2)>:first-child {
        margin-bottom: 20px;
    }

    .gallery .intro> :last-child {
        width: 400px;
    }

    .gallery .intro> :last-child>:first-child {
        width: 250px;
    }

    .gallery .intro> :last-child>:last-child div {
        height: 190px;
    }

    .gallery .intro> :last-child>:last-child div img {
        height: 190px;
    }

    .gallery .about-g>:first-child {
        width: 350px;
    }

    .gallery .about-g>:first-child img {
        height: 400px;
    }

    .gallery .about-g>:nth-child(2) {
        width: 400px;
    }

    .gallery .about-g>:nth-child(2)>:first-child div {
        height: 150px;
    }

    .gallery .about-g>:nth-child(2)>:first-child div:first-of-type img {
        transform: scale(1) translateY(-10%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:first-of-type img:hover {
        transform: scale(1.2) translateY(-10%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:last-of-type img {
        transform: scale(1) translateY(-20%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:last-of-type img:hover {
        transform: scale(1.2) translateY(-20%);
    }

    .gallery .about-g>:nth-child(2)>:last-child img {
        height: 230px;
    }

    .gallery .about-g> :last-child {
        width: 400px;
    }

    .gallery .about-g> :last-child>:first-child div {
        height: 190px;
    }

    .scale-galley>:first-child {
        display: flex;
        justify-content: right;
        margin-bottom: 40px;
        cursor: pointer;
        opacity: 0.3;
    }

    .scale-galley>:first-child img {
        width: 30px;
    }

    .scale-galley>:last-child {
        width: 1200px;
    }

}