main {
    position: relative;
}

main>:first-child {
    position: relative;
}

main>:first-child img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

main>:first-child video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.slick-slide {
    box-sizing: border-box;
}

.slider div {
    position: relative;
    width: 100%;
    height: 600px;
}

.slider div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main>div>:last-child {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 95%;
}

main>div>:last-child h1 {
    padding: 8px;
    background-color: white;
    color: #da0505;
    font-size: 1.7rem;
    line-height: 1.7rem;
    display: inline-block;
}

main>div>:last-child h2 {
    color: white;
    font-size: 1.3rem;
    margin-top: 10px;
}

/* home */

.home {
    background-color: antiquewhite;
}

.home>div>div>section {
    width: 30%;
    padding: 10px;
    color: white;
    background-color: #da0505;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.home>div>div>section:hover {
    border-radius: 15px;
}

.home>div>div>section h3 {
    text-align: center;
}

.home>:first-child>h3 {
    margin: 20px 0;
}

.home>div>ul li {
    margin: 20px 0;
}

.home>:last-child {
    position: relative;
}

.home>:last-child img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.home>:last-child>:last-child {
    text-align: right;
    position: absolute;
    bottom: 25%;
    right: 0%;
    transform: translate(-5%, 50%);
}

.home>:last-child>:last-child h1 {
    padding: 8px;
    background-color: white;
    color: #da0505;
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
    margin: 5px 0;
}

.home>:last-child>:last-child h2 {
    color: white;
    display: inline-block;
    font-size: 1rem;
    margin-top: 10px;
}

.home2 {
    background-color: #021e3a;
}

.home2>div>:first-child h1 {
    padding: 8px;
    background-color: white;
    color: #da0505;
    font-size: 1.7rem;
    line-height: 1.7rem;
    display: inline-block;
}

.home2>div>:first-child h2 {
    color: white;
    font-size: 1.3rem;
    margin-top: 10px;
}

.home2>div>:first-child p {
    color: white;
    margin-top: 50px;
}

.home2>div>:last-child {
    margin: 40px auto 0;
}

.home2>div>:last-child>:first-child {
    text-align: center;
    display: flex;
    justify-content: center;
}

.home2>div>:last-child>:last-child {
    margin-top: 50px;
}

.home2>div>:last-child>:last-child img {
    width: 100%;
    height: auto;
}

.loading {
    text-align: center;
    color: white;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.loading p {
    font-style: italic;
}

.home3 {
    position: relative;
}

.home3>:first-child {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    width: 90%;
}

.home3>:first-child>div {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

.home3>:first-child>div img {
    width: 150px;
    height: auto;
}

.home3>:first-child h1 {
    color: white;
}

.home3>:first-child h2 {
    background-color: white;
    color: #da0505;
    display: inline;
    font-size: 1.3rem;
}

.home3>:last-child img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* about */

.about {
    background-color: #021e3a;
    color: white;
}

.about>div>h1 {
    color: #da0505;
}

.about>div>h3 {
    margin: 20px 0 50px;
}

.about>div>ul li {
    margin: 20px 0;
}

/* .about>:last-child {
    width: 100%;
    height: 300px;
    background-image: url('/images/about_bg.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

.about2 {
    background-color: antiquewhite;
}

.about2>div>h1 {
    color: #da0505;
}

.about2>div>h3:first-of-type {
    margin: 20px 0 30px;
    color: black;
}

.about2>div>h3:last-of-type {
    color: #da0505;
    text-align: center;
}

.about2>div>p {
    font-weight: bold;
    text-align: center;
    margin: 30px 0 50px;
    font-style: italic;
}

/* gallery */

.gallery {
    margin-top: 70px;
}

.gallery>div>div,
.gallery>div>div>div,
.gallery>div>div>div>div,
.gallery>div>div>div>div>div,
.gallery>div>div>div>div>div>div {
    gap: 10px;
    overflow: hidden;
}

.gallery>div>div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}

.gallery>div>div img:hover {
    transform: scale(1.2);
}

.gallery .intro> :first-child>:first-child div img {
    height: 100%;
    min-height: 150px;
}

.gallery .intro> :first-child>:last-child {
    margin-top: 10px;
}

.gallery .intro> :last-child>:first-child {
    width: 45%;
}

.gallery .intro> :last-child>:first-child img {
    height: 100%;
}

.gallery .intro> :last-child>:last-child {
    width: 55%;
}

.gallery .intro> :last-child>:last-child div:first-of-type {
    margin-bottom: 10px;
}

.gallery .about-g>:nth-child(2)>:first-child div img {
    height: 100%;
    min-height: 150px;
}

.gallery .about-g>:nth-child(2)>:first-child div:first-of-type img {
    transform: scale(1.4) translateY(10%);
}

.gallery .about-g>:nth-child(2)>:first-child div:first-of-type img:hover {
    transform: scale(1.7) translateY(10%);
}

.gallery .about-g>:nth-child(2)>:first-child div:last-of-type img {
    transform: scale(1.4);
}

.gallery .about-g>:nth-child(2)>:first-child div:last-of-type img:hover {
    transform: scale(1.6);
}

.gallery .about-g>:nth-child(2)>:last-child {
    margin-top: 10px;
}

.gallery .about-g> :last-child>:first-child {
    width: 45%;
}

.gallery .about-g> :last-child>:first-child img {
    height: 100%;
    min-height: 120px;
}

.gallery .about-g> :last-child>:last-child {
    width: 55%;
}

.gallery .about-g> :last-child>:last-child img {
    height: 100%;
    object-fit: cover;
}

.gallery .about-g> :last-child>:first-child div:first-of-type {
    margin-bottom: 10px;
}

.scale-galley {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 40px 8%;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.scale-galley>:first-child {
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
    cursor: pointer;
    opacity: 0.3;
}

.scale-galley>:first-child img {
    width: 20px;
    height: auto;
}

.scale-galley>:last-child img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {

    main>:first-child img {
        height: 800px;
    }

    main>:first-child video {
        height: 800px;
    }

    .slider div {
        height: 800px;
    }

    main>div>:last-child {
        bottom: 15%;
        width: 84%;
    }

    main>div>:last-child h1 {
        padding: 8px 15px 15px;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    main>div>:last-child h2 {
        font-size: 1.8rem;
    }

    /* home */

    .home>div>div>section {
        padding: 30px;
        border-radius: 8px;
    }

    .home>div>div>section:hover {
        border-radius: 30px;
    }

    .home>div>div>section h3 {
        font-size: 1.5rem;
    }

    .home>:first-child>h3 {
        margin: 40px 0;
        font-size: 1.3rem;
    }

    .home>:last-child>:last-child {
        bottom: 35%
    }

    .home>:last-child>:last-child h1:first-of-type {
        display: inline-block;
    }

    .home>:last-child>:last-child h1 {
        padding: 8px 15px 15px;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .home>:last-child>:last-child h2 {
        font-size: 1.8rem;
    }

    .home2>div>:first-child h1 {
        padding: 8px 15px 15px;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .home2>div>:first-child h2 {
        font-size: 1.8rem;
    }

     .home3>:first-child h1 {
        font-size: 3rem;
    }

    .home3>:first-child h2 {
        font-size: 2rem;
    }

    /* about */

    .about>div>h3 {
        margin: 20px 0 30px;
    }

    .about>div>p {
        margin-bottom: 70px;
    }

    /* gallery */

    .gallery>div>div,
    .gallery>div>div>div,
    .gallery>div>div>div>div,
    .gallery>div>div>div>div>div,
    .gallery>div>div>div>div>div>div {
        gap: 20px;
    }

    .gallery .intro> :first-child>:last-child {
        margin-top: 20px;
    }

    .gallery .intro>:nth-child(2){
        width: 100%;
    }

    .gallery .intro> :last-child>:last-child div:first-of-type {
        margin-bottom: 20px;
    }

    .gallery .about-g>:nth-child(2)>:first-child div img {
        height: 100%;
        min-height: 300px;
    }

    .gallery .about-g>:nth-child(2)>:first-child div:first-of-type img {
        transform: scale(1.3) translateY(12%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:first-of-type img:hover {
        transform: scale(1.6) translateY(12%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:last-of-type img {
        transform: scale(1.3) translateY(10%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:last-of-type img:hover {
        transform: scale(1.6) translateY(10%);
    }

    .gallery .about-g>:nth-child(2)>:last-child {
        margin-top: 20px;
    }

    .gallery .about-g> :last-child>:first-child img {
        height: 100%;
        min-height: 200px;
    }

    .gallery .about-g> :last-child>:first-child div:first-of-type {
        margin-bottom: 20px;
    }

    .scale-galley>:first-child img {
        width: 30px;
    }

}

@media screen and (min-width: 1366px) {

    main>:first-child img {
        height: 770px;
    }

    main>:first-child video {
        height: 770px;
    }

    .slider div {
        height: 770px;
    }

    main>div>:last-child {
        bottom: 22%;
    }

    main>div>:last-child h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    main>div>:last-child h2 {
        font-size: 2.5rem;
    }

    /* home */

    .home>div>div>section {
        padding: 40px;
        border-radius: 15px;
    }

    .home>div>div>section:hover {
        border-radius: 30px;
    }

    .home>div>div>section h3 {
        font-size: 2rem;
    }

    .home>div>div>section h3 span {
        font-size: 1.5rem;
    }

    .home>:first-child>h3 {
        margin: 70px 0 50px;
        font-size: 1.8rem;
    }

    .home>:first-child>ul li {
        font-size: 1.2rem;
        margin: 30px 0;
    }

    .home>:last-child img {
        height: 800px;
    }

    .home>:last-child>:last-child {
        transform: translate(-30%, 50%);
        top: 50%;
        bottom: 25%;
        display: block;
    }

    .home>:last-child>:last-child h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        display: block;
    }

    .home>:last-child>:last-child h2 {
        font-size: 2.5rem;
        display: block;
    }

    .home2>div>:first-child h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    .home2>div>:first-child h2 {
        font-size: 2.5rem;
    }

    .home2>div>:first-child p {
        font-size: 1.2rem;
    }

    .home2>div>:last-child {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }

    .home2>div>:last-child>:first-child {
        order: 2;
    }

    .home2>div>:last-child>:last-child {
        margin-top: 0;
        margin: auto 0;
        width: 620px;
        order: 1;
    }

     .home3>:first-child {
        top: 65%;
        left: 40%;
     }

     .home3>:first-child h1 {
        font-size: 4rem;
     }

    .home3>:first-child h2 {
        font-size: 2.5rem;
    }

    /* about */

    .about>div>h1 {
        font-size: 2.5rem;
    }

    .about>div>h3 {
        margin: 20px 0 50px;
        font-size: 2rem;
    }

    .about>div>ul li {
        font-size: 1.2rem;
        margin: 30px 0;
    }

    /* .about>:last-child {
        height: 700px;
    } */

    .about2>div>h1 {
        font-size: 2.5rem;
    }

    .about2>div>h3:first-of-type {
        font-size: 1.8rem;
        margin: 20px 0 50px;
    }

    .about2>div>h3:last-of-type {
        margin: 0px;
        font-size: 1.5rem;
    }

    /* gallery */

    .gallery .intro> :first-child {
        width: 400px;
    }

    .gallery .intro> :first-child>:first-child div {
        height: 150px;
    }

    .gallery .intro> :first-child>:last-child img {
        height: 230px;
    }

    .gallery .intro> :nth-child(2) {
        width: 360px;
    }

    .gallery .intro> :nth-child(2)>div {
        height: 190px;
    }

    .gallery .intro> :nth-child(2)>:first-child {
        margin-bottom: 20px;
    }

    .gallery .intro> :last-child {
        width: 400px;
    }

    .gallery .intro> :last-child>:first-child {
        width: 250px;
    }

    .gallery .intro> :last-child>:last-child div {
        height: 190px;
    }

    .gallery .intro> :last-child>:last-child div img {
        height: 190px;
    }

    .gallery .about-g>:first-child {
        width: 350px;
    }

    .gallery .about-g>:first-child img {
        height: 400px;
    }

    .gallery .about-g>:nth-child(2) {
        width: 400px;
    }

    .gallery .about-g>:nth-child(2)>:first-child div {
        height: 150px;
    }

    .gallery .about-g>:nth-child(2)>:first-child div:first-of-type img {
        transform: scale(1) translateY(-10%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:first-of-type img:hover {
        transform: scale(1.2) translateY(-10%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:last-of-type img {
        transform: scale(1) translateY(-20%);
    }

    .gallery .about-g>:nth-child(2)>:first-child div:last-of-type img:hover {
        transform: scale(1.2) translateY(-20%);
    }

    .gallery .about-g>:nth-child(2)>:last-child img {
        height: 230px;
    }

    .gallery .about-g> :last-child {
        width: 400px;
    }

    .gallery .about-g> :last-child>:first-child div {
        height: 190px;
    }

}